@import 'fonts';
@import 'variables';
@import 'mixins';

// Styles
body {
    font-family: 'Montserrat', sans-serif; 
    &::before {
        content: '';
        background-image: url(../img/background.png);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 60vmax;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        @media screen and (max-width: 992px){
            opacity: 0.4;
        }
    }
}

// navigation / navbar
.custom-nav {
    .navbar-brand {
        img {
            width: 25px;
            height: 25px;
            margin-top: -7px;
        }

        span {
            color: $primaryColor;
            font-weight: 700;
            font-size: 1.4rem;
            margin-left: 0.5em;
        }
    }

    #navbarNav {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $primaryColor;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-left: 2.4em;

                    &:hover {
                        color: darken($primaryColor, 30%);
                        transition: 0.3s color ease;
                    }
                }

                .sign-up-button {
                    @include tombol;
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        margin-top: -1em;
    }
}

// Custom-Section
.custom-section {
    margin-top: 10em;
    h2 {
        font-weight: 700;
        font-size: 4rem;
        color: $primaryColor;
        white-space: nowrap;
        //  text-transform: uppercase;
    }
    h3 {
        font-weight: 400;
        font-size: 3rem;
        line-height: 1;
        color: $secondaryColor;
        white-space: nowrap;
    }
    p {
        color: $textColor;
        font-size: 1.1rem;
        margin-top: 2em;
    }
    a {
        margin-top: 2.2em;
        @include tombol;
        border: 1px solid transparent;
        transition: 0.5s ease;

        &:hover {
            color: $primaryColor;
            border: 1px solid $primaryColor;
            background-color: transparent;
        }
    }
    @media screen and (max-width: 992px) {
        margin-top: 3em;
        text-align: center;
        h2, h3, p {
            text-shadow: 1px 1px 1px rgba($textColor, 0.3);
        }
        h3 {
            color: lighten($textColor, 0.3);
        }
    }
}