// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');


// Variables
$primaryColor: #F35CA3;
$secondaryColor: #AABDE6;
$tertiaryColor: #C5ABDC;
$textColor:#393C43;


// Styles
body {
    font-family: 'Montserrat', sans-serif;
    &::before{
        content: '' ;
        background-image: url(../img/background.png);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 60vmax;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

// navigation / navbar
.custom-nav {
    .navbar-brand {
        img {
            width: 25px;
            height: 25px;
            margin-top: -7px;
        }

        span {
            color: $primaryColor;
            font-weight: 700;
            font-size: 1.4rem;
            margin-left: 0.5em;
        }
    }

    #navbarNav {
        .navbar-nav {
            .nav-item {
                .nav-link{
                    color: $primaryColor;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-left: 2.4em;

                    &:hover{
                        color: darken($primaryColor, $amount: 30);
                        transition: ;
                    }
                } .sign-up-button{
                    background-color: $primaryColor;
                    color: white;
                    border-radius: 2em;
                    border: 0;
                    padding-left: 1.5em;
                    padding-right: 1.5em;
                }
            }
        }
    }
}